body{
    background-color:orchid;
    }
    h1
    {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 'Times New Roman', Times, serif;
        text-decoration: underline;
        text-shadow: grey;
        text-decoration-style: solid;
        text-decoration-color: indigo;
        text-align-last: center;
        color:red;
    }
    
    p
    {
    text-decoration-color: purple ;
       
    }
    a{
        background-color: seagreen;
        text-shadow: tan;
        text-decoration-color: tomato;
        margin:10px;
        font-size: 20px;
        color: yellow;
    }
    img{
        border: black solid 1px;
        width: 100px;
        margin: 10px;
     }
    nav{ 
        align-items: center;


    }